@media (max-width: 1200px) {
  .footer-about{
    
    padding: 0 10%;
  }
  .footer-brands{
    padding: 0 10%;
  }
  .header__first-line {
    padding: 0 10%;
  }
  .header__second-line {
    padding: 0 10%;
  }
  .section-second__leftside{
    height: 40vh;
  }
  .section-second__rightside{
    height:40vh;
  }
  
 
}
@media (max-width: 992px) {
  
  .hidden3{
    display: none;
  }
  .categories{
    width: 40%;
  }

  .newsletter {
    width: 40%;
    margin: 0
  }
  .footer-about{
   
    padding: 0 6%;
  }
  .footer-brands{
    padding: 0 6%;
  }
  .header__first-line {
    padding: 0 4%;
  }
  .header__second-line {
    padding: 0 4%;
  }
  .hidden2{
    display: none;
  }
  .section-first_content_text{
    padding: 5% 9%;
  }

}
@media (max-width: 768px) {
  .header__second-line_text {
    
    margin: 0 10px;
  }

  .footer-about{
    height: auto;
    padding: 0 4%;
  }
  .footer-brands{
    padding: 0 4%;
  }
  .header__first-line {
    padding: 0 2%;
  }
  .header__second-line {
    padding: 0 2%;
  }
  
  .section-third {
 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-third__leftside{
    display: none;
  }

  .section-third__rightside{
    background: rgb(15, 15, 15);
    width: 100%;
  }

  .section-third__rightside p {
    margin-top: 3%;
    width: 90%;
    
  }
  .hidden{
    display: none;
  }
  .newsletter__container{
    padding-bottom: 15px;
  }
  .section-first_content_text{
    padding: 5% 7%;
  }


}
@media (max-width: 576px) {

  /* .section-second__leftside{
    height: 35vh;
  }
  .section-second__rightside{
    height:35vh;
  } */
  .header__first-line {
    padding: 0% 2%;
  }
  .header__second-line {
    padding: 0% 2%;
  }
 

  .header__second-line_text {
    white-space: nowrap;
    margin: 0 5px;
  }
  .section-first_content__porten-logo {
    margin: 3%;
    border: 2px solid white;
    padding: 1%;
  }
 
 .newsletter{
  
  width: 100%;
 }
.section-first_content_text{
  padding: 5% 5%;
}

}
