@media (max-width: 1200px) {
 
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .section-third {
 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-third__leftside{
    display: none;
  }

  .section-third__rightside{
    background: rgb(15, 15, 15);
    width: 100%;
  }

  .section-third__rightside p {
    margin-top: 3%;
    width: 90%;
    
  }
}
@media (max-width: 576px) {
  .header__first-line {
    padding: 0% 2%;
  }
  .header__second-line {
    padding: 0% 2%;
  }

  .header__second-line_text {
    white-space: nowrap;
    margin: 0 10px;
  }
  .section-first_content__porten-logo {
    margin: 3%;
    border: 2px solid white;
    padding: 1%;
  }


}
